@font-face {
  font-family: Karla;
  src: url(../../assets/Karla.ttf);
}

@font-face {
  font-family: VT323;
  src: url(../../assets/VT323-Regular.ttf);
}

.discrete-scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: var(--border-color);
}

.discrete-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
}

body {
  --border-color: #44475a;
  background: rgb(32, 33, 36);
  background: linear-gradient(
    180deg,
    rgba(32, 33, 36, 1) 0%,
    rgba(40, 42, 54, 1) 50%,
    rgba(32, 33, 36, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#terminal {
  --glow-color: #6400FFFF;

  background-color: #1e1e1e;
  color: rgb(218, 218, 218);
  font-family: VT323, monospace;
  border: 4px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.5em;

  box-shadow: 0 0 30px var(--glow-color);

  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 450px;

  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 auto;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;

    .icon {
      margin-right: 10px;

      width: 40px;
      height: 40px;
    }
  }

  .body {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    .terminal-commands {
      flex: 0 0 auto;
      border-right: 2px solid var(--border-color);
      overflow-y: auto;

      .commands-header {
        align-items: center;
        padding: 5px 15px;
      }


      .command {
        cursor: pointer;
        padding: 5px 20px 5px 10px;
        border-bottom: 1px solid rgba(68, 71, 90, 0.2);
        color: #bd93f9;
        transition: all 0.2s;

        & > span{
          display: block;
          transition: all 0.2s;

          &:before {
            content: '>_';
            margin-right: 5px;
            transition: all 0.2s;
            display: inline-block;
            scale: 0.8;
            opacity: 0;
          }
        }

        &:hover, &.active {
          background-color: #44475a;

          span {
           transform: translateX(10px);

            &:before {
              scale: 1;
              opacity: 1;
            }
          }
        }
      }
    }

    .terminal-content {
      padding: 10px;
      display: flex;
      flex-direction: column;

      .history {
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .command-line {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &.past {
          opacity: 0.9;
        }

        .prompt {
          color: #50fa7b;
          margin-right: 10px;
          text-wrap: nowrap;
        }

        &.input-line {
          position: sticky;

          input {
            color: inherit;
            font-family: inherit;
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            font-size: inherit;
          }
        }
      }

      .response {
        margin: 5px 0;

        a {
          color: #bd93f9;
          text-decoration: none;
        }

        .command-button {
          margin-right: 5px;

          span:hover {
            text-decoration: underline;
          }
        }

        .set-color-button {
          margin-right: 5px;

          span:hover {
            text-decoration: underline;
          }
        }

        .highlight {
          color: #fd63f8;

          &.svelte {
            color: #f96743;
          }

          &.vue {
            color: #41b883;
          }

          &.node {
            color: #8cc84b;
          }

          &.python {
            color: #3572a5;
          }

          &.flutter {
            color: #31b9f6;
          }

          &.java {
            color: #b07219;
          }

          &.cs {
            color: #178600;
          }

          &.error {
            color: #ff5555;
          }

          &.rainbow {
            background: linear-gradient(
              90deg,
              #ff2c55,
              #ff6555,
              #ffaa55,
              #ffd955,
              #ffee55,
              #d4ff55,
              #8cff55,
              #55ff6e,
              #55ffb9,
              #55ffea,
              #55f7ff,
              #55c4ff,
              #5581ff,
              #5557ff,
              #7a55ff,
              #b355ff,
              #e355ff,
              #ff55f0,
              #ff55b5,
              #ff558a,
              #ff5564,
              #ff5549
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

button.clear {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  position: relative;

  &:hover {
    text-decoration: none !important;
  }
}

a:after {
  content: '';
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

a:hover:after {
  width: 100%;
}
