@font-face {
	font-family: Karla;
	src: url(./assets/fonts/Karla.ttf);
}

@font-face {
	font-family: VT323;
	src: url(./assets/fonts/VT323-Regular.ttf);
}

@font-face {
	font-family: DMSans;
	src: url(./assets/fonts/DMSans.ttf);
}

@font-face {
	font-family: SpaceGrotesk;
	src: url(./assets/fonts/SpaceGrotesk.ttf);
}


body {
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0;
	line-height: 1;
}

@keyframes trail-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes trail-disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


:root {
	--font-header: SpaceGrotesk, sans-serif;
	--font-body: DMSans, sans-serif;
}
